body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.icon{
  margin-top: 8px;
  margin-right: 7px;
  font-size: 1.2rem;
}

.sidenav-icon {
  margin-top: 15px;
  font-size: 1.2rem;
}

.sidenav-wellcome {
  margin-left: 1.3rem;
}

.btn-text {
  margin-left: 13px;
}
