<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, intial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Product Order | {{ title  }}</title>
  <!-- materialize css -->
  <link rel='stylesheet' href='./public/css/materialize.css'>
  <!-- fontawesome css -->
  <link rel='stylesheet' href='./public/css/all.min.css'>
  <script defer src='./public/js/all.min.js'></script>
  <!-- main css -->
  <link rel='stylesheet' href='./public/css/main.css'>
</head>
 <body>
   <div class='container'>
     {{{body}}}
   </div>
   <!-- JQuery -->
   <script src='./public/js/jquery.min.js'></script>
   <script src='./public/js/materialize.min.js'></script>
 </body>
 </html>


